ICPAugment/ICPAugment
BundleFile/libbundlefile.so*
*.obj
ReprojectDepth/debug/*
ReprojectDepth/GeneratedFiles/*
*.ncb
*.suo
*.user
*.idb
*.pdb
ReprojectDepth/release/*
/ReprojectDepth/ReprojectDepth.app/
*.o
moc_*
/ReprojectDepth/.swp
.DS_Store
.swp
ReprojectDepth/Makefile
ReprojectDepth/Makefile.Debug
ReprojectDepth/Makefile.Release
*.cache
BundleClouds/*.exe*
BundleClouds/*.exe*
BundleClouds/Debug/*
BundleClouds/Release/*
BundleFile/Debug/*
BundleFile/Release/*
bundler-v0.4-source/lib/5point/Debug/*
bundler-v0.4-source/lib/5point/Release/*
*/Debug/*
bundler-v0.4-source/vc++/Release/*
bundler-v0.4-source/lib/ann_1.1_char/Debug/*
bundler-v0.4-source/lib/ann_1.1_char/Release/*
bundler-v0.4-source/lib/cblas/Debug/*
bundler-v0.4-source/lib/cblas/Release/*
bundler-v0.4-source/lib/clapack/Debug/*
bundler-v0.4-source/vc++/Debug/*
*BuildLog.htm
bundler-v0.4-source/lib/jpeg/Debug/*
bundler-v0.4-source/lib/jpeg/Release/*
*.old
*.ply
*.a
*.pcd
*.out
CalibrateDepth/CalibrateDepth
ConvolutionDetection/ConvolutionDetection
bundler-v0.4-source/bin/*
bundler_kinect/bin/*
bundler_kinect/src/Bundle2PMVS
bundler_kinect/src/Bundle2Vis
bundler_kinect/src/InjectDepth
bundler_kinect/src/KeyMatchFull
bundler_kinect/src/RadialUndistort
bundler_kinect/src/bundler
bundler-v0.4-source/src/Bundle2PMVS
bundler-v0.4-source/src/Bundle2Vis
bundler-v0.4-source/src/KeyMatchFull
bundler-v0.4-source/src/RadialUndistort
bundler-v0.4-source/src/bundler
sampleDAE/sampleDAE
BundleClouds/BundleClouds
ClassifyPoints/ClassifyPoints
bin/*
lib/*
include/*
ReprojectDepth/ReprojectDepth
bundler-v0.4-source/lib/f2c/arith.h
bundler-v0.4-source/lib/f2c/signal1.h
bundler-v0.4-source/lib/f2c/sysdep1.h
bundler-v0.4-source/lib/libANN_char.so
bundler_kinect/lib/f2c/arith.h
bundler_kinect/lib/f2c/signal1.h
bundler_kinect/lib/f2c/sysdep1.h
bundler_kinect/lib/libANN_char.so
